In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\admin\appdata\roaming\python\python311\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\admin\appdata\roaming\python\python311\site-packages (from pyspark) (0.10.9.7)

In [2]:
b = 5
a = 5

In [4]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
#To use Spark we need to creak a spark session
spark = SparkSession.builder.appName('SessionName').getOrCreate()

In [5]:
spark

In [7]:
df_pyspark = spark.read.csv('D:/PGP in Data Science and Machine Learning/11. PySpark/test1.csv')

In [9]:
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [15]:
#To replace _c0, _c1 with header we use
spark.read.option('header', 'true').csv('D:/PGP in Data Science and Machine Learning/11. PySpark/test1.csv').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [16]:
df_pyspark = spark.read.option('header', 'true').csv('D:/PGP in Data Science and Machine Learning/11. PySpark/test1.csv')

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
#Functionality a little different from pandas

In [19]:
df_pyspark.head(3)

[Row(Name='Krish', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000'),
 Row(Name='Sunny', age='29', Experience='4', Salary='20000')]

In [20]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [24]:
#All columns are in string value. we need to change that.
df_pyspark = spark.read.option('header', 'true').csv('D:/PGP in Data Science and Machine Learning/11. PySpark/test1.csv', inferSchema = True)
data_pyspark = spark.read.csv('D:/PGP in Data Science and Machine Learning/11. PySpark/test1.csv', header = True, inferSchema = True)

In [23]:
df_pyspark.show()
#df_pyspark.printSchema()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [25]:
data_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [27]:
data_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [28]:
data_pyspark.select('Name')

DataFrame[Name: string]

In [30]:
data_pyspark.select(['Name', 'age']).show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [32]:
data_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [36]:
#Adding columns
data_pyspark.withColumn('Company Salary', data_pyspark['Salary']+5000)

DataFrame[Name: string, age: int, Experience: int, Salary: int, Company Salary: int]

In [37]:
data_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [38]:
data_pyspark = data_pyspark.withColumn('Company Salary', data_pyspark['Salary']+5000)
#Not an in-place operation. Need to be assigned to a variable.

In [39]:
data_pyspark.show()

+---------+---+----------+------+--------------+
|     Name|age|Experience|Salary|Company Salary|
+---------+---+----------+------+--------------+
|    Krish| 31|        10| 30000|         35000|
|Sudhanshu| 30|         8| 25000|         30000|
|    Sunny| 29|         4| 20000|         25000|
|     Paul| 24|         3| 20000|         25000|
|   Harsha| 21|         1| 15000|         20000|
|  Shubham| 23|         2| 18000|         23000|
+---------+---+----------+------+--------------+

In [ ]:
#Drop the column

In [41]:
data_pyspark = data_pyspark.drop('Company Salary')

In [42]:
data_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [46]:
#Rename the column
data_pyspark = data_pyspark.withColumnRenamed('age', 'Age')

In [47]:
data_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [48]:
data_pyspark.na.drop()

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

## Filter Operation

In [50]:
data_pyspark.filter("Salary<20000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [51]:
data_pyspark.filter("Salary<20000").select(['Name', 'Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [55]:
data_pyspark.filter((data_pyspark['Salary']<20000) & (data_pyspark['Age']<22)).select(['Name', 'Age']).show()

+------+---+
|  Name|Age|
+------+---+
|Harsha| 21|
+------+---+

In [56]:
# ~ Inverse
# | Or

# GroupBy and Aggregate function

In [57]:
data_pyspark.groupBy('Name')

GroupedData[grouping expressions: [Name], value: [Name: string, Age: int ... 2 more fields], type: GroupBy]

In [ ]:
#GroupBy and Aggregate function works together

In [58]:
data_pyspark.groupBy('Name').sum()

DataFrame[Name: string, sum(Age): bigint, sum(Experience): bigint, sum(Salary): bigint]

In [59]:
data_pyspark.groupBy('Name').sum().show()

+---------+--------+---------------+-----------+
|     Name|sum(Age)|sum(Experience)|sum(Salary)|
+---------+--------+---------------+-----------+
|Sudhanshu|      30|              8|      25000|
|    Sunny|      29|              4|      20000|
|    Krish|      31|             10|      30000|
|   Harsha|      21|              1|      15000|
|     Paul|      24|              3|      20000|
|  Shubham|      23|              2|      18000|
+---------+--------+---------------+-----------+

In [60]:
data_pyspark.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     128000|
+-----------+

In [63]:
data_pyspark.agg({'Salary': 'median'}).show()

+--------------+
|median(Salary)|
+--------------+
|       20000.0|
+--------------+